<div class="container">
    <div class="border">
        <h3>Account Login</h3>
        <hr>

        <form [formGroup]="loginForm" 
        (ngSubmit)="loginCredentials()">
            <div>
                <p>
                    <input type="text" placeholder="UserName" formControlName="userName">
                </p>
            </div>

            <div *ngIf="isSubmitted && formControls.userName.errors">
                <div *ngIf="formControls.userName.errors.required" style="color: red; text-align:left">Username is
                    Required
                </div>
            </div>
            <br>
            <div>
                <p>
                    <input type="password" placeholder="Password" formControlName="password">
                </p>
            </div>

            <div *ngIf="isSubmitted && formControls.password.errors">
                <div *ngIf="formControls.password.errors.required" style="color: red; text-align:left">Password is
                    Required</div>
            </div>

            <br>
            <div>
                <button>
                    Login
                </button>
            </div>

            <div *ngIf="error" style="color: red; text-align:left">{{error}}</div>
        </form>
    </div>
</div>